* 
{font-family: 'Nanum Gothic', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;}
.divBar{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/back.png);
    background-position: center;
    background-size: cover;


};
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.navBar ul li{
    list-style-type:none;
    display: inline-block;
}
span{
    color: blueviolet;
}
nav ul li a{
    color: #4531f2;
    font-size: .75em;
    padding: 1em .2em;
}
nav ul li a:hover{
    color: #85f5f1;
    font-size: .8em;
    transition: .2s;
    
}
/*.mainSlide{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.slide-containe{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
}
.exxpresArt{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/